*{
	box-sizing: border-box;
	font-family: Roboto;
}
.container{
	max-width: 900px;
	background: #E7E7E7;
}
.mini-container{
	max-width: 670px;
	margin: 0 auto;
}
.bluer_bg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
input{
	height: 44px;
	background: #FFFFFF;
	border: 1px solid #9E9E9E;
	border-radius: 6px;
	padding-left: 15px;
}
h1{
	font-size: 24px;
	font-weight: 300;
}
.link{
	font-size: 12px;
	text-decoration-line: underline;
	color: #EDBC02;
	cursor: pointer;
}
a,a:hover{
	color: #000;
	text-decoration: none;
}
.allbody{
	background: #F3F3F3;
}
/*signIn/signUp*/

body.welcome{
	background: #FFFCEA;
}
.signin{
	max-width: 320px;
	padding: 15px;
	margin: 0 auto;
}
body.welcome  .langpicker{
	max-width: 150px;
}
body.welcome .w-lang{
	padding: 16.5px 19px;
	font-size: 18px;
	background: #606060;
	max-width: 60px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	color: #fff;
}
body.welcome .w-lang:hover,body.welcome  .langpicker .active {
	box-shadow: 0px 0px 5px 1px #EDBC02;
	transition: 0.5s;
}
body.welcome input{
	width: 290px;
}
body.welcome .log-next{
	top: 7px;
	right: 15px;
	cursor: pointer;
}
body.welcome .log-input .log-next img{
	width: 30px;
	height: 30px;
}
.pass-input{
	position: relative;
	z-index: -1;
	top: -44px;
	border-radius: 6px;
}
.pass-input-anim{
	animation-name: pass-input-anim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes pass-input-anim{
	0%{
		top: -44px;
	}		
	100%{
		top: -1px;
		z-index: 1;		
	}
}
.signup{
	padding: 15px;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	z-index: 11;
	border-radius: 6px;
}
.checkbox{
	height: 20px;
}
.checker-sup div{
	max-width: 290px;
	margin: 0 auto;
}
.signedup{
	padding: 100px 0;
}
.signedup p{
	max-width: 253px;
	font-size: 16px;
}

/*header*/

header{
	background: #3E3E3E;
	padding: 0 20px;
	height: 40px;
	padding-top: 5px;
}
header .header-logo img{
	width: 30px;
	height: 30px;
}
header .header-logo div{
	color: #fff;
	font-size: 16px;
	margin-left: 10px;
}
header .header-search input{
	height: 28px;
	width: 200px;
	transition: 0.5s;
	margin-top: 1px;
}
header .header-search img{
	right: 8px;
	top: 6px;
	cursor: pointer;    
}
header .header-menu img{
	cursor: pointer;
}
header .header-menu img+img{
	margin-left: 10px;
}
header .burger-menu{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 10;
	top: 0;
	left: 0;
}
header .burger-menu .b-logo{
	margin: 30px auto;
	max-width: 140px;
}
header .burger-menu .b-logo img{
	width: 30px;
	height: 30px;
}

header .burger-menu .b-search{
	margin: 0 auto;
	width: 290px;
}
header .burger-menu .b-search input{
	width: 290px;
}
header .burger-menu .b-search img{
	right: 13px;
	top: 13px;
}
header .burger-menu .b-lang .active{
	text-decoration-line: underline;
	color: #EDBC02;
}
header .burger-menu .b-lang{
	max-width: 100px;
}
header .burger-menu .b-qust,
header .burger-menu .b-user{
	text-align: center;
}


/*folders*/
.case-grid{
	margin: 0 auto;
	max-width: 640px;
}
.case{
	width: 290px;
	height: 49px;
	border: 1px solid #999999;
	border-radius: 10px;
	margin-right: 50px;
	display: inline-block;
	cursor: pointer;
}
.case:nth-child(even){
	float: right;
	margin-right: 0;
}
.case .pos-a{
	left: 10px;
	top: 7px;
}
.case-color{
	width: 35px;
	height: 35px;
	border-radius: 5px;	
}
.case-name{
	margin-left: 20px;
	font-size: 16px;
	font-weight: 400;
}

.case-color-red,
.pick-folder-color-color.red{
	background: #FF6F6F;
}
.case-color-orange,
.pick-folder-color-color.orange{
	background: #FCA85A;
}
.case-color-yellow,
.pick-folder-color-color.yellow{
	background: #F9F0BD;
}
.case-color-green,
.pick-folder-color-color.green{
	background: #78F985;
}
.case-color-cyan,
.pick-folder-color-color.cyan{
	background: #4BDDFD;
}
.case-color-blue,
.pick-folder-color-color.blue{
	background: #4E55FD;
}
.case-color-purple,
.pick-folder-color-color.purple{
	background: #D361FC;
}
.create-popup{
	padding: 15px;
	background: #fff;
	left: calc(50% - 120px);
	top: calc(50% - 275px);
	position: absolute;
	z-index: 11;
	border-radius: 6px;
}
h3{
	font-weight: 500;
	font-size: 16px;
}
.create-popup .case:nth-child(even){
	float: none;
	margin-right: 0;
}
.create-popup input{
	height: 30px;
}
.create-popup .case{
	display: block;
	margin-bottom: 10px;
	margin-right: 0;
	width: 210px;
	height: 40px;
}
.create-popup .case-color{
	width: 23px;
	height: 23px;
}
.create-menu div{
	width: 50%;
	text-align: center;
	cursor: pointer;
}
.create-menu{
	border-top: solid 1px #999;
	padding: 12px 0 0 0;
	margin-top: 20px;
}
.create-menu div:nth-child(even){
	border-left: solid 1px #999;	
}
.pick-folder-color-color{
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
}
.delete_case{
	position: absolute;
	right: 15px;
	top: 9px;
	cursor: pointer;
}
.noclick{
	pointer-events: none;
}

/*editor*/
.back_fix{
	width: 114px;
}
.editor .mini-menu h3{
	font-size: 16px;
	font-weight: 300;
}
.work-space{
	min-height: 250px;
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 26px 20px;
}
.work-space textarea{
	width: 100%;
	height: 100%;
	min-height: 250px;
	overflow:hidden;
	transition: 0.5s;
	border: none;
}
.tools{
	height: 50px;
	border-radius: 4px;
	background: #fff;
	padding-top: 13px;
	position: absolute;
	z-index: 10;
	bottom: 0;
	border: 1px solid #F6DD80;
}
.tools img{
	cursor: pointer;
	width: 21px;
	height: 21px;
}

.tools .aligment,
.tools .headlines,
.tools .textTransform,
.tools .lists{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.tools .aligment{
	width: 157px;
	padding: 0 20px 0 30px;
}
.tools .headlines{
	width: 137px;
}
.tools .textTransform{
	width: 153px;
}
.tools .lists{
	width: 86px;
}
.line_90{
	height: 25px;
	background: #EDBC02;
	width: 1px;
}
.tools-controller{
	position: relative;	
	transition: 0.5s;
	display: none;
	top: 75px;
    left: 6px;
}
.t-c-up{
	transform: rotate(180deg);
	top: 56px;
	right: -8px;
}
