@media (max-width: 659px) {
	.case, .case:nth-child(odd){
		margin: 0 auto;
	}
	.case:nth-child(even) {
		float: none;
		margin-right: 0
	}
}
@media (max-width: 613px) {
	.case-grid {
		margin: 0 auto;
		width: 290px;
	}
}
@media (max-width: 570px) {
	.tools .jcsb{
		display: block !important;
	}
	.tools{
		height: auto;
		left: 0;
		top: 40px;
		bottom: auto;
	}
	.tools .aligment,
	.tools .headlines,
	.tools .textTransform,
	.tools .lists{
		padding: 0 20px;
		text-align: center
	}
	.tools .aligment,
	.tools .headlines,
	.tools .textTransform,
	.tools .lists,
	.tools .aligment img,
	.tools .headlines img,
	.tools .textTransform img,
	.tools .lists img{
		margin: 0 auto;
		display: block;
		width: auto;
	}
	.tools .aligment img,
	.tools .headlines img,
	.tools .textTransform img,
	.tools .lists img{
		margin-bottom: 10px
	}
	.line_90 {
		height: 1px;
		width: 100%;
		margin: 15px 0;
	}
	.tools-controller{
		display: block;
	}

}
@media (max-width: 520px) {
	header .header-menu,
	header .header-search{
		display: none;
	}
	header .burger-menu-btn{
		display: block;
	}
}

